*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
body{
	background-color:#d6dbdf;
	display: block;
	box-sizing: border-box;
}

nav{
	width: 100%;
	height: 100px;
	background-color:#9b9f99;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);
}

ul.menu li.menu{
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

ul li a{
	text-decoration: none;
	color: black;
	padding: 0 20px;
	display: block;
	font-weight: bold;
}

nav ul li a img{
	padding-right: 380px;
	padding-left: 50px;
	height: 100px;
	line-height: 100px;
}

a.logo{
	height: 100px;
}

ul.menu li.menu a:hover{
	color: white;
	transition: 0.2s;
}

#mainContainer{
	width: 700px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#mainForm{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: 700px;
}

input, label {
	display: block;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 3px;
}


.inputs label {
	margin-bottom: 20px;
}

div.form{
	justify-content: space-between;
	display: flex;
	align-items: center;
	border: black 10px solid;
	border-color: #9b9f99;
	width: 1024px;
	height: 500px;
	background-color: #ebedef;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);
}

img#swap{
	width: 20px;
	height: 20px;
	padding: 0 40px;
	margin-top: 24px;
	cursor: pointer;
}

.inputs{
	padding: 10px;
	line-height:1px;
}

#fromCurrency, #toCurrency{
	width: 200px;
}
#left{
	margin-left: 100px;
}
#right{
	margin-right: 100px;
}

.bothInputs{
	padding: 5px;
	box-shadow: none;
	-moz-appearance: textfield;
	/*-webkit-appearance: none;*/
}

.bothSelects {
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
}

h1{
	margin-left: 172px;
	margin-top: 100px;
	margin-bottom: -150px;
	font-size: 25px;
}
div.wrapper{
	text-align: center;
}

div.bottom{
	width: 1140px;
	height:350px;
	background-color:#9b9f99;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);
	display: inline-block;
	margin-top: -100px; 
}
p.bottom{
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	word-spacing: 6px;
	line-height: 140%;
	text-align: left;
}
h3 {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
}







