*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
body{
	background-color:#d6dbdf;
	display: block;
	box-sizing: border-box;
}
h1{
	font-size: 25px;
}

nav{
	width: 100%;
	height: 100px;
	background-color:#9b9f99;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);
}
ul{

}

ul.menu li.menu{
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

ul li a{
	text-decoration: none;
	color: black;
	padding: 0 20px;
	display: block;
	font-weight: bold;
}

nav ul li a img{

	padding-right: 380px;
	padding-left: 50px;
	height: 100px;
	line-height: 100px;
}

a.logo{
	height: 100px;
}

ul.menu li.menu a:hover{
	color: white;
	transition: 0.2s;
}

div.container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header{
	margin-left: 194px;
	margin-top: 100px;
}

div.loanCalculator{
	margin-top: 50px;
	width: 70%;
	height: 600px;
	background-color: #e5e7e9  ;
	border: #9b9f99 7px solid; 
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);

}

ul#calculatorForm li.row{
	list-style: none;
	padding: 30px;
}
label{
	padding:30px;
	font-weight: bold;
}


input, select{
	border: 1px solid  #000000 ;
  	border-radius: 4px;
  	font-size: 20px;
  	padding: 5px;
}

.data{
	float: right;

}

.button{
	margin-left: 60px;
}

.result{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	
}
.result th{
	padding: 20px 50px;
}
.result td{
	padding: 10px 10px;
}

#monthYear{
	margin-left: 360px;
	padding:4px 10px;
	width: 100px;
}

#takeDay{
	width: 24%;
}

#firstResult{
	display: flex;
	align-items: left;
	justify-content: center;
}

.firstRow{
	width: 70%;
	margin-top: 30px;

}

.firstRow ul li{
	list-style: none;
	font-size: 20px;
	padding: 10px;
	margin-top: 0px;

}

.secondRow ul li{
	list-style: none;
	padding: 10px;

}

.total{
	display: flex;
}

#annDiff{
	width: 225px;
}
#periodicity{
	width: 225px;
}
#button{
	margin-left: 60px;
	margin-top: 40px;
}

.invisible{
	display: none;
}

.visible{
	display: block;
}

div.bottom{
	width: 1140px;
	height:350px;
	background-color:#9b9f99;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,1);
	display: inline-block;
	margin-top:50px; 
}
p.bottom{
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	word-spacing: 6px;
	line-height: 140%;
	text-align: left;
}
h3 {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
}

div.wrapper{
	text-align: center;
}